# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

schedules:
  - cron: "0 0 */14 * *"
    displayName: "Bi-monthly build"
    branches:
      include:
        - master
        - benchmarking



trigger:
- master
- benchmarking

jobs:

- job: CPU Benchmarks

  pool:
    name: Default

  steps:

  - script: |
      conda env remove --yes -n tomopy-bench
    displayName: Remove existing build environment

  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  - script: |
      conda env create -n tomopy-bench -f tomopy-bench.yaml 
    displayName: 'Create benchmarking environment'

  - script: git clone https://github.com/tomopy/tomopy-benchmarks
    displayName: 'Clone tomopy benchmarks repo'

  - script: |
      source activate tomopy-bench
      ./run-benchmarking-cpu.sh
    displayName: 'Run benchmarks'

  - script: |
      cd tomopy-benchmarks
      git config --global user.name "Dreycen Foiles"
      git config --global user.email "foilesdreycen@gmail.com"
      git add *
      git commit -m "Bi-monthly benchmark"
      git push https://$(PAT)@github.com/tomopy/tomopy-benchmarks
    displayName: 'Update benchmarking data repository'

  - script: |
      conda env remove --yes -n tomopy-benchmarks
    displayName: Remove existing build environment

- job: GPU Benchmarks

  pool:
    name: Default
    demands:
      - CUDA_VERSION
      - Agent.OS -equals Linux

  steps: 
    
  - script: |
        conda env remove --yes -n tomopy-bench
    displayName: Remove existing build environment

  - bash: echo "##vso[task.prependpath]$CONDA/bin"
    displayName: Add conda to PATH

  - script: |
      conda env create -n tomopy-bench -f tomopy-bench.yaml 
    displayName: 'Create benchmarking environment'

  - script: git clone https://github.com/tomopy/tomopy-benchmarks
    displayName: 'Clone tomopy benchmarks repo'

  - script: |
      source activate tomopy-bench
      ./run-benchmarking-gpu.sh
    displayName: 'Run benchmarks'

  - script: |
      cd tomopy-benchmarks
      git config --global user.name "Dreycen Foiles"
      git config --global user.email "foilesdreycen@gmail.com"
      git add *
      git commit -m "Bi-monthly benchmark"
      git push https://$(PAT)@github.com/tomopy/tomopy-benchmarks
    displayName: 'Update benchmarking data repository'

  - script: |
      conda env remove --yes -n tomopy-benchmarks
    displayName: Remove existing build environment